/* Media-Object styles. */
@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.media {
  &-object {
    align-items: center;
    display: inline-flex;
    margin-left: 30px;
  }

  &__image {
    @include borderRadius(50%);
  }

  &__text {
    color: $color-primary;
    font-size: 16px;
    font-weight: 500;
    margin: 0 4px 0 10px;
  }
}