/* Media-Object styles. */
@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.media-object {
  display: inline-flex;
  align-items: center;

  .media__image {
    @include borderRadius(50%);
  }

  .media__text {
    color: $color-primary;
    font-size: 16px;
    font-weight: 500;
    margin: 0 4px 0 10px;
  }
}