/* Basic app layouts styles. */
@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

body {
  color: $color-text;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  max-width: 1440px;
  overflow: hidden;
}

/* Form styles */
.block-form, .block-form > * {
  font-family: $form-font;

  .form__heading {
    font-size: 40px;
  }

  .form__text {
    color: $color-secondary;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }

  .input::placeholder {
    opacity: 0.6;
  }

  .text--input {
    border: 2px solid rgba($color-text, 0.15);
    padding-right: 16px;
    @include borderRadius(5px);

    input {
      padding: 16px;
    }
  }

}

/* Image styles */
.figure {
  display: inline-block;
  line-height: 0;
  margin: 0;
}