/* Typography styles. */
@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

input {
  border: 0;
  color: $color-text;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 20px;
  outline: none;
  max-width: 100%;

  &::placeholder {
    color: $color-text;
    font-weight: 400;
    opacity: 0.7;
  }  
}

.input {
  flex: 1;
    
  &-container &__box:focus-within {
    border-color: $color-secondary;
  }

  &__box {
    align-items: center;
    border: 1px solid rgba($color-primary, 0.2);
    display: flex;
    overflow: hidden;
    @include borderRadius(8px);
    @include transition(all 0.3s)
  }

  &__label {
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
  }
}